nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;
    margin-bottom: 0;
    list-style: none;   
}

nav ul li a{
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: black;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
}

.nav1 ul li a:focus{
    color: #AB7A19;
}
.nav1 ul li a:hover{
    color: #53B175;

}
.navigate{
    position: relative;
    justify-content: space-between;
    /* background-color: #D6ECDF; */
    padding: 5px;
    padding-left: 100px;
    padding-right: 100px;
    
}
.navigate__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
select{
    border: 0px;
    outline: 0px;
    background-color: #D6ECDF;
    border-right: solid 2px #B0B7C366;

    
}
.navigate2{
    display: flex;
    position: relative;
}
.locat{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0;
}
.location{
    display: flex;
    border-left: solid 2px #B0B7C366;
    padding: 0 10px;
    cursor: pointer;
}
.login{
    display: flex;
    padding-left: 10px;
    cursor: pointer;
    border-left: solid 2px #B0B7C366;
}
.lokatsa{
    width: 10px;
    padding:0 10px;
}
.profil{
    width: 10px;
    padding: 0 10px;
}
.locImg{
    vertical-align: unset;
}
.absDropdown{
    position: absolute;
    top: -5px;
    right: 230px;
}
.ModalLogin{
    padding: 70px 86px 50px 86px;
    position: relative;
}
.ModalLogin__span{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
}
.ModalLogin__item1{
    display: flex;
    background: rgba(0, 0, 0, 0.0287096);
    border-radius: 100px;
    /* width: 340px; */
    /* height: 45px; */
    padding: 5px;
    margin-bottom: 50px;

}
.active2{
    padding: 11px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: unset;
    background-color: unset;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: grey;
    border-radius: 100px;
    transition: 0.5s;
    background-color: #ffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    color: #53B175;
    width: 145px;
}
.dis{
    margin: 11px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    transition: 0.5s;

}
.btnWidth{
    width: 145px;
}
.btnWidth2{
    width: 200px;
}


/* .ModalLogin__item2{
} */
.ModalLogin__item2__input1{
    padding-bottom: 15px;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 24px;
}
.ModalLogin__item2__input1 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;
    color: #C3C3C3;

}
.ModalLogin__item2__input1 input{
    outline: none;
    border: none;
    margin-left: 10px;
    width: 80%;
}
.ModalLogin__item2__input1 input::placeholder{
    font-weight: 500;
    /* color: #181725; */
    opacity: 0.4;
    font-size: 16px;
    line-height: 29px;
}
.ModalLogin__item2__input2{
    padding-bottom: 15px;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 24px;
}
.ModalLogin__item2__input2 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;
    color: #C3C3C3;
}
.ModalLogin__item2__input2 input{
    outline: none;
    border: none;
    width: 100%;
    position: relative;
}
.ModalLogin__item2__input2 input::placeholder{
    font-weight: 600;
    color: #181725;
    font-size: 16px;
    line-height: 29px;
}
.eyeVisible{
    position: absolute;
    cursor: pointer;
}
.ModalLogin__item2__span{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #B0B7C3;
    display: block;
    text-align: end;
    margin-bottom: 46px;
}
.ModalLogin__item2__btn{
    width: 364px;
    height: 44px;
    color: #ffff;
    background-color: #53B175;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
}
/* .Registration{} */
.Registration__parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
}
.Registration__img{
    display: flex;
    justify-content: center;
}
.Registration__span{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
/* .Registration__form{} */
.Registration__form__input1{
    margin-bottom: 24px;
}
.Registration__form__input1 input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 13px;
}
.Registration__form__input1 input::placeholder{
    font-size: 16px;
    line-height: 24px;
    color: #C3C3C3;
}
.Registration__form__input2{
    margin-bottom: 24px;
}
.Registration__form__input2 input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 13px;
}
.Registration__form__input2 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #C3C3C3;
}
.Registration__form__input3{
    margin-bottom: 40px;
}
.Registration__form__input3 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;
    color: #C3C3C3;
}
.Registration__form__input3 input{
    outline: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 13px;
    position: relative;
}
.Registration__form__paragraph{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    width: 415px;
    margin-bottom: 22px;
}
.Registration__form__paragraph span{
    color: #53B175;
}
.Registration__form__btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Registration__form__btn button{
    border: none;
    background-color: #53B175;
    width: 364px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #ffff;
}
.Verification{
    padding: 100px 30px 40px 30px;
    position: relative;
}
.Verification__span{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
}
.Verification__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #282828;
    margin-bottom: 40px;
}
/* .Verification__form{} */
.Verification__form__input {
    margin-bottom: 20px;
}
.Verification__form__input p{
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #C3C3C3;
}
.Verification__form__input input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 13px;
}
.Verification__form__input input::placeholder{
    font-size: 18px;
    line-height: 59px;
    color: #181725;
}
.Verification__form__resend{
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #53B175;
}
.Verification__form__resend:hover{
    text-decoration: underline;
    cursor: pointer;
}
.Verification__form__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}
.Verification__form__btn button{
    width: 364px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    background-color: #53B175;
    color: #ffff;
}