nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;
    margin-bottom: 0;
    list-style: none;   
}

nav ul li a{
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: black;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
}

.nav1 ul li a:focus{
    color: #AB7A19;
}
.nav1 ul li a:hover{
    color: #53B175;

}
.navigate{
    position: relative;
    justify-content: space-between;
    background-color: #D6ECDF;
    padding: 5px;
    
}
.navigate__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
select{
    border: 0px;
    outline: 0px;
    background-color: #D6ECDF;
    border-right: solid 2px #B0B7C366;

    
}
.navigate2{
    display: flex;
    position: relative;
}
.locat{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0;
}
.location{
    display: flex;
    border-left: solid 2px #B0B7C366;
    padding: 0 10px;
    cursor: pointer;
}
.login{
    display: flex;
    padding-left: 10px;
    cursor: pointer;
    border-left: solid 2px #B0B7C366;
}
.lokatsa{
    width: 10px;
    padding:0 10px;
}
.profil{
    width: 10px;
    padding: 0 10px;
}
/* .uz{
    background-image: url(C:\Users\User\Desktop\Mehrigiyo-test\src\images\flag_uzb-logo.png);

} */
.locImg{
    vertical-align: unset;
}
.absDropdown{
    position: absolute;
    top: -5px;
    right: 230px;
}