nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;
}

nav ul li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

nav ul li:nth-child(4){
    color: #AB7A19;
}
 nav ul li:nth-child(5){
    color: #53B175;
}
.navigate{
    justify-content: space-between;
    background-color: #D6ECDF;
    padding: 5px;
    
}
.navigate__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
select{
    border: 0px;
    outline: 0px;
    background-color: #D6ECDF;
    border-right: solid 2px #B0B7C366;

    
}
.navigate2{
    display: flex;
}
.locat{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.location{
    display: flex;
    border-right: solid 2px #B0B7C366;
    padding: 0 10px;
    cursor: pointer;
}
.login{
    display: flex;
    padding-left: 10px;
    cursor: pointer;
}
.lokatsa{
    width: 10px;
    padding:0 10px;
}
.profil{
    width: 10px;
    padding: 0 10px;
}
.uz{
    /* background-image: url(C:\Users\User\Desktop\Mehrigiyo-test\src\images\flag_uzb-logo.png); */

}