.bc-color2{
    /* background-image: url("../../images/Group.png"); */
    border-radius: 0 0 49% 51% / 92% 92% 8% 8%;
    -webkit-box-shadow: 0px 42px 17px 6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 42px 17px 6px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 42px 5px 6px #d2dcd7;
    max-height: 550px;
}






/* 
.barg{
    position: absolute;
    top: 100px;
    right: 10px;
    z-index: 1;
} */

/* .main-photo{
    position: relative;
} */