/* .nav2{
    display: flex;
    align-items: center;
}

.nav__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}
.nav-logo-wrapper{
   width: 10%;
}
.nav-logo{
    cursor: pointer;
}

.nav__wrapper ul{
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    font-family: 'Poppins', sans-serif;
}

.nav__wrapper ul a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 6px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    opacity: 0.4;
    font-size: 16px;
}

.nav__wrapper ul li:hover{
    color: #000;
    opacity: 5;
    transition: all 0.35s;
}

.nav-icons{
    align-items: center;
    margin: unset;
    padding: unset;
}

.nav-icons__icon{
    cursor: pointer;
} */
.nav2{
    background-color: #9ad3ae;
}
.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}


.nav__wrapper ul{
    display: flex;
    gap: 26px;
    padding: unset;
}
.nav-logo{
    width: 140px;
    height: 45px;
}

.nav__wrapper ul a{
    padding: unset;
    color: grey;
    font-size: 16px;
    font-weight: 400;
}

.nav__wrapper ul a:hover{
    color: unset;
    color: black !important;
    transition: all 0.35s;
}

.marImg{
    margin-left: 8px;
}