/* .nav2{
    display: flex;
    align-items: center;
}

.nav__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}
.nav-logo-wrapper{
   width: 10%;
}
.nav-logo{
    cursor: pointer;
}

.nav__wrapper ul{
    width: 90%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.dropdown .nav-link {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-link span {
    font-size: 16px;
    color: #000000;
    opacity: 0.4;
    padding-bottom: 7px;
}
.line {
    width: 22px;
    height: 3px;
    background-color: #53B175;
    position: absolute;
    bottom: 0;
    left: 40%;
}
.active {
    font-weight: 600;
    color: #000000;
    opacity: 1;
    padding-bottom: 7px;
    /* border-bottom: 3px solid #3e8e41; */
    /* transition: all .1s ease-in-out; */
/* } */
/* .active span a {
    display: inline-block;
    color: #07aa19;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: 17px;
} */
.active span:after {
    margin-top: 7px;
    display: block;
    content: "";
    background-color: #53B175;
    height: 5px;
    width: 0%;
    left: 50%;
    position: absolute;
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
}
.active span:hover:after,
.active span:focus:after {
    width: 22px;
}


.nav-link img {
    padding-left: 6px;
}
.nav__wrapper ul li:hover{
    color: #000;
    opacity: 5;
    transition: all 0.35s;
}

.nav-icons{
    align-items: center;
    margin: unset;
    padding: unset;
}

.nav-icons__icon{
    cursor: pointer;
} */
.nav2{
    background-color: #9ad3ae;
}
.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}


.nav__wrapper ul{
    display: flex;
    gap: 26px;
    padding: unset;
}
.nav-logo{
    width: 140px;
    height: 45px;
}

.nav__wrapper ul a{
    padding: unset;
    color: grey;
    font-size: 16px;
    font-weight: 400;
}

.nav__wrapper ul a:hover{
    color: unset;
    color: black !important;
    transition: all 0.35s;
}

.marImg{
    margin-left: 8px;
}
