
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 45px 30px 90px;
  .navcontainer {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -95px;
    margin-top: 10px;
    .navTitles {
      list-style: none;
      display: flex;
      gap: 40px;
      li {
        float: left;
        padding-bottom: 10px;
        font-size: 15px;
        cursor: pointer;
      }
    }
    .item {
      position: relative;
      ul {
        padding: 10px 0;
        li {
          font-size: 15px;
        }
      }
      &::before {
        content: url("./../../../images/User/Vector2.png") !important;
        position: absolute;
        top: -2px;
        right: -15px;
      }
    }
    .title p {
      color: #000000;
      font-weight: 600;
      &::after {
        content: "";
        background-color: #53b175;
        height: 4px;
        width: 20px;
        bottom: 0px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        // transition: width 0.3s ease-in-out;
      }
    }

    .title2 ul li {
      display: none;
    }

    .title2:hover ul {
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #fff;
        position: absolute;
        top: -5px;
        left: 30px;
        transform: rotate(43deg);
      }
      li {
        display: block;
      }
    }
    .title3 ul li {
      display: none;
    }
    .title3:hover ul {
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #fff;
        position: absolute;
        top: -5px;
        left: 30px;
        transform: rotate(43deg);
      }
      li {
        display: block;
      }
    } 
    .title5 ul li {
      display: none;
    }
    .title5:hover ul {
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #fff;
        position: absolute;
        top: -5px;
        left: 30px;
        transform: rotate(43deg);
      }
      li {
        display: block;
      }
    }
    .title6 ul li {
      display: none;
    }
    .title6:hover ul {
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #fff;
        position: absolute;
        top: -5px;
        left: 30px;
        transform: rotate(43deg);
      }
      li {
        display: block;
      }
    }
    .navTitles li ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: #fff;
      border-radius: 8px;
      z-index: 10;
      margin-top: 10px;
      box-shadow: 0px 10px 30px rgba(113, 124, 140, 0.3);
      li {
        color: #000000;
        padding: 10px 20px;
        width: 235px;
        &:hover {
          background-color: #e5fced;
          width: 235px;
          color: #53b175;
        }
      }
    }
  }
  .nav_Head {
    position: relative;
  }
  .nav_Link {
    a::before {
      content: url("./../../../images/User/Vector2.png") !important;
      position: absolute !important;
      top: -2px;
      right: -15px;
    }
  }

  .nav_Item {
    text-decoration: none;
    position: relative;
    list-style: none;
    color: #282828;
    font-size: 16px;
  }

  .nav_Item:focus p {
    color: #000000;
    font-weight: 600;
  }
  .nav_Item::after {
    content: "";
    margin-top: 5px;
    background-color: #53b175;
    height: 4px;
    width: 0%;
    left: 50%;
    position: absolute;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
  }

  .nav_Item:focus:after {
    width: 22px;
  }
}

.dropBackground {
  height: 10px;
  width: 20px;
  background-color: red;
}

.nav-icons {
  display: flex;
  gap: 16px;
  .user1 {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-color: #fff;
    background-image: url("../../../images/User/user1.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .user2 {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-color: #53b175;
    background-image: url("../../../images/User/user2.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    animation: shadow 0.15s ease-in-out;
  }
  .shop1 {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-color: #fff;
    background-image: url("../../../images/User/shop1.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .shop2 {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-color: #53b175;
    background-image: url("../../../images/User/shop2.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    animation: shadow 0.15s ease-in-out;
  }
  .heart1 {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-color: #fff;
    background-image: url("../../../images/User/heart1.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .heart2 {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-color: #53b175;
    background-image: url("../../../images/User/heart2.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    animation: shadow 0.15s ease-in-out;
  }
  .search1 {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-color: #fff;
    background-image: url("../../../images/User/search1.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}
@keyframes shadow {
  0% {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: none;
  }
}
