body{
    background-color: #FAFBFC !important;   
}
.overflow{
    overflow: hidden;
}
.originMehrigiyo{
    display: flex;
    align-items: center;
    &__text{
        &__paragraph1{
            font-size: 30px;
            font-weight: 800;
            line-height: 40px;
            color: #53B175;
            margin-bottom: 17px;        
        }
        &__paragraph2{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: grey;
        }
    }
    &__img{
        position: relative;
        left: 40px;
    }
}