.DateCard{
    background-color: white;
    border: 1px solid #DEE1E6;
    border-radius: 16px;
    width: 62px;
    height: 72px;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
    cursor: pointer;
}
.DateCard p{
    /* padding-top: 10px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
}
.DateCard h5{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
    padding-top: 5px;
}
.DateCard:hover{
 background-color: #E9F4EF;
}
.DateCard:focus{
 background-color: #53B175;
}