.MexrigiyoPresent h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    width: 867px;
    /* padding: 0px 0px 10px 330px; */
}
.MexrigiyoPresent{
    padding: 138px 0px 10px 392px;
    /* position: relative; */
    max-width: 1440px;
    /* margin: 0 auto; */
    position: relative;
}
.ctM{
    /* padding: 0px 0px 10px 290px; */
    gap: 10px;
}
.ctM a{
 color: #53B175;
}
.ctM li{
    color: #C4C4C4;
}
.bgPlant{
    position: absolute;
    top: 80px;
}
.Bgleafs{
    position: absolute;
    top: 0px;
    left: 0px;
}
.BigImgpresent{
    width: 950px;
}
.BigImgpresent img{
    width: 950px;
    border-radius: 20px;
}
.BigPresentTxt{
    width: 950px;
}
.BigPresentTxt h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding-top: 40px;
}
.BigPresentTxt p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 145px;
}
.RactNews{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
.Ractangle{
    align-items:center;
    display: flex;
}
.rectangle{
    gap: 13px;
    padding-left: 50px;
    padding-bottom: 20px;
}
.RectangleCard{
    color: #F0F2F4;
}
.ImgTxtPres{
    padding-left: 100px;
}