.SuccessWr{
    margin: 0 auto;
    box-shadow: BLACK;
    
}
.succes{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    width: 496px;
    background-color: WHITE;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 100px;
    position: relative;
    border-radius: 13px;
}
.succes h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}
.succes p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: grey;
}
.SuccesClose{
    position: absolute;
    top: 10px;
    right: 20px;
}
.ConsultButton{
    margin-top: 20px;
    padding: 15px 100px 15px 100px;
    width: 496px;
    background-color: #E9F4EE;
    border-radius: 13px;
}