
.send-background{
    background-image: url(../../../images/asked_background.png);
    background-repeat: no-repeat;
    height: 900px;
    padding: 100px 0;
    position: relative;
    margin-top: 200px;
}
.send{
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.helpDoctor {
    display: flex;
    position: absolute;
    top: -95px;
    gap: 70px;
}
.textDoctor .textSlash {
    font-size: 12px;
    color: #505050;
    padding-bottom: 10px;
}
.textDoctor span {
    color: #69fc8e;
}
.backgroundImg {
    opacity: .1;
}
.textDoctor {
    padding-top: 100px;
}
.textDoctor .headText {
    font-weight: 600;
    font-size: 30px;
}
.input-div{
    border-bottom: 1px solid #B0B7C3;
    width: 350px;
    margin-bottom: 20px;
}
.send-h3{
    color: #53B175;
    font-size: 16px;
    font-weight: 400;
}
.send-h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: 5px;
}
.input-h5{
    font-size: 14px;
    color: #B0B7C3;
    font-weight: 400;
}
.name{
    border: none;
    outline: none;
    background-color: transparent;
    width: 350px;
}
.more-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #53b17533;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    width: 180px;
    cursor: pointer;
  }

  .drop{
      display: flex;
  }

  .leaves{
      position: absolute;
      top: -20px;
      right: -50px;
  }