.InfoBanner {
  width: 100%;
  margin: 0 auto;
  padding-left: 98px;
  margin-bottom: 203px;
  margin-top: 166px;
  .InfoBanner-img {
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 4065px;
    opacity: 0.1;
  }
  .InfoBanner-content {
    box-shadow: 0px 15px 60px 0px #0000001a;
    width: 1256px;
    height: 300px;
    border-radius: 25px;
    display: flex;
    background: #3c3c3c;
    .InfoBanner-left {
      padding: 50px 0px 0 40px;
      .InfoBanner-h2 {
        font-family: Poppins;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
      }
      .InfoBanner-p {
        width: 616px;
        margin-bottom: 47px;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #b0b7c3;
      }
    }
    .InfoBanner-center {
        display: flex;
      .InfoBanner-center-img {
        margin-left: -110px;
      }
    }
    .InfoBanner-right {
        width: 263px;
        margin-left:-20px;
        margin-top: 50px;
      .InfoBanner-right-img {
        width: 100%;
      }
    }
  }
}
