.containerDoctor {
    margin-top: 187px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    .onlineDoctorContainer {
        font-family: 'Poppins';
        width: 870px;
        height: 420px;
        align-items: center;
        text-align: center;
        margin: auto;
        z-index: 9;
        display: flex;
        flex-direction: column;
       
        h3 {
            font-weight: 600;
            font-size: 30px;
            color: #282828;
            margin-bottom: 16px;
        }
        .greenDoctor {
            color: #69fc8e;
        }
        p {
            color: #B0B7C3;
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 60px;
        }
        
    }
    .bacgroundImg {
        position: absolute;
        top: 50px;
        width: 545px;
        height: 365px;
        z-index: 1;
        opacity: .1;
        background: no-repeat;
        background-image: url('../../../images/User/GroupBacground(1).png');
        cursor: pointer;
    }
    .bacgroundImg2 {
        position: absolute;
        right: 0;
        top: -120px;
    }
    .boxContainer {
        display: flex;
        gap: 40px;
    }
}