.banner-card-wrapper{
    position: relative;
}

.banner-card{
    position: absolute;
    top: -280px;
    left: 157px;
    max-width: 188px;
    min-height: 118px;
    padding: 19px 17px;
    background-color: #fff;
    box-shadow: 0px 15px 60px rgba(22, 22, 22, 0.1);
    border-radius: 15px;
}

.card2{
    position: absolute;
    top: -131px;
    left: 1080px;
}

.banner-card__titles{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 6px;
}

.banner-card__titles__title{
    font-weight: 700;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}

.banner-card__text{
    width: 155px;
    font-weight: 400;
    color: #C3C3C3;
    font-size: 12px;
    text-align: left;
}

