.milkTeaContainer {
    color: #FFFFFF;
    padding: 0 95px;
    margin-bottom: 124px;
    margin-top: 30px;
    .milkBox {
        position: relative;
        height: 300px;
        display: flex;
        align-items: center;
        background: linear-gradient(274.36deg, #53B175 0.52%, #53B175 21.68%, #63CB89 96.53%), #53B175;
        box-shadow: 0px 15px 60px #0000001a, 0px 15px 60px #0000001a;
        border-radius: 25px;
    }
    .text {
        padding-left: 32px;
    }
    .headText {
        margin-top: 25px;
    }
    p {
        font-weight: 500;
        font-size: 20px;
    }
    h3 {
        font-weight: 700;
        font-size: 40px;
    }
    .leftImg {
        img {
            position: relative;
            top: 33px;
        }
    }
    .rightImg {
        img {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}