
.asked-wrapper {
  padding-top: 130px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.accordion{
    margin-top: 100px;
}

.section,
.section2,
.section3,
.section4,
.section5 {
  display: flex;
  border-bottom: 1px solid #ECECF1;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  padding: 26px 0;
  
}
.accordion-txt{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-left: 20px;
}
b{
    color: #53b175;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    line-height: 36px;
}
.more-text,
.more-text2,
.more-text3,
.more-text4,
.more-text5 {
  width: 600px;
  padding: 10px 40px 20px 40px;
  transition: 5s;
}
.asked-heading {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 13px;
}
.extra-p {
  color: #53b175;
  margin-bottom: 46px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.more-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #53b17533;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  width: 150px;
}
.icon-right {
  color: #53b175;
}
.leaf{
  opacity: 5%;
  position: absolute;
  bottom: 100px;
  right: -0px;
}
.section-text3{
  transition: 5s;
}
.text{
  display: flex;
  align-items: center;
}