.warning {
    margin-top: 30px;
    .textBox {
        margin: auto;
        display: flex;
        padding: 9px 15px;
        justify-content: space-between;
        background: #ECEEF2;
        border-radius: 8px;
        width: 1242px;
        // text-align: center;
        align-items: center;
    }
    .leftBox {
        display: flex;
        align-items: center;
        .text {
            padding: 0;
            margin: 0;
            display: flex;
            font-weight: 400;
            font-size: 12px;
            color: #6B779A;
        }
        img {
            padding-right: 20px;
        }
    }
}