.wrapper{
    width: 347px;
    height: 543px;
    position: relative;
    margin: 40px 0;
    background-color: white;
    border-radius: 25px;
    /* height: 543px; */
    align-items: baseline;
    box-shadow: 0px 25px 50px 5px #F6F7FF;
}
.img_wrapper{
    height: 249px;
    background-color: #fff;
    overflow: hidden ;
    border-radius: 25px 25px 0  0;
    z-index: 1;
}
.arrow{
    color: #53B175;
    width: 40px;
    align-items: center;
}
.category{
    padding-bottom: 20px;
    display: flex;
    color: #53B175;
    font-family: 'Poppins'; 
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 21px; */
}
.more{
    position: absolute;
    bottom: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #53B175;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.more p{
    color: #53B175;
    display: flex;
    align-self: center;
}

.wrapper .txt{
    padding: 20px 20px 35px 20px;

}
.wrapper h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    width: 319px;
}
.category li{
    color: #C4C4C4;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 21px; */
}
.wrapper h6{
    color:#C4C4C4;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    bottom: 70px;
}
.category p{
    padding-right: 8px;
}
.category .lii{
    list-style: disc;
}
.category .time{
    margin-left: -5px;
}
.sldImg{
    transition: 0.3s;
    opacity: 1.3;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.sldImg:hover{
    filter: brightness(60%);
    cursor: pointer;
    transform: scale(1.1);
    transform: 0.7s;
}

.img_wrapper .imgPlay{
    display: none;
}

.img_wrapper:hover .imgPlay{
    display: block;
    
}



.imgPlay img{
    position: absolute;
    top: 100px;
    right: 144px;
}


