.pageStyle1{
    background-color: #FAFBFC;
}

.nostyle{
    list-style: none;
    padding: 20px 0;

}
.slideComp{
    display: flex;
    gap: 30px;
}
.navigate3{
    padding: 15px 0;
}
.swiper-pagination-bullet {
    background-color: #53B175 !important;
}