.allinfo {
  margin-left: 200px;
}
.head_info {
  display: flex;
  align-items: center;
  gap: 150px;
}
.count_info {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}
.icons_like {
  display: flex;
  gap: 16px;
}
.haeding {
  font-size: 40px;
  font-weight: bold;
  font-family: Poppins;
}
.counting {
  display: flex;
  align-items: center;
  gap: 20px;
}
.counter {
  padding: 10px 10px;
  border: 1px solid #e2e2e2;
  border-radius: 30%;
  width: 45px;
  height: 45px;
  text-align: center;
  vertical-align: center;
}
.counter_minus {
  cursor: pointer;
}
.accordion2{
    border-top: 1px solid #E2E2E2B2;
    margin-top: 40px;
}
.accordion-txt2 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #181725;
}
.more-text-2 {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #7C7C7C;
  width: 560px;
}
.section-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
    padding: 15px 0 12px 0;
}
.weight{
    font-family: Poppins;
    font-size: 11px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: #7C7C7C;    
    height: 23px;
    width: 43px;
    border-radius: 5px;
    background-color: #EBEBEB;
    padding: 3px 5px;
}
