.btnDoctor {
    display: flex;
    justify-content: space-between;
    padding: 13px 26px;
    align-items: center;
    background: #53b1751a;
    border-radius: 50px;
    border: none;
    color: #181725;
    text-decoration: none;
    button {
        border: none;
    }
}