.btnDoctor {
    // position: absolute;
    // top: 370px;
    display: flex;
    justify-content: space-between;
    padding: 13px 26px;
    align-items: center;
    // text-align: center;
    // width: 260px;
    // height: 50px;
    // gap: 21px;
    background: #53b1751a;
    border-radius: 50px;
    border: none;
    color: #181725;
    button {
        border: none;
    }
}