.OnlineDoctorPg2GW {
  position: relative;
  overflow: hidden;
  .titles {
    padding: 10px 0;
    .title {
      font-size: 12px;
      color: #282828;
      padding-left: 18px;
      &:hover {
        color: #53b175;
      }
    }
    .item {
      &::after {
        content: "/";
        position: relative;
        left: 10px;
        color: #282828;
      }
    }
    .active {
      color: #53b175;
    }
  }
}
.Onlinewr {
  padding-left: 100px;
  padding-right: 50px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.GreyTxt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #6b779a;
  padding-left: 20px;
}
.Attention {
  background-color: #eceef2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.AttentComp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.DoctorNav {
  padding: 40px 0 50px 0;
  margin-left: 20px;
}
.DoctorNav p a {
  font-size: 14px;
}

.docc {
  display: flex;

  &_r {
    display: flex;
    align-items: center;
    padding-left: 180px;
    font-size: 14px;
    .displayRight {
      display: flex;
      align-items: center;
    }
  }
}

.doctype {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.doctype:focus {
  color: #53b175;
}
.doctype:hover {
  color: #53b175;
}
.clearFilter {
  display: flex;
  align-items: center;
  gap: 3px;
}
.clearFilter img {
  width: 20px;
  height: 20px;
}
.clearFilter p {
  color: grey;
  text-decoration: underline;
  margin-bottom: 0;
}
.categoryFilter {
  gap: 20px;
  border-radius: 15px;
  margin-top: 25px;
}
.categoryFilter h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 0;
}
.clearFF {
  display: flex;
  justify-content: space-between;
}
.moore {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  text-decoration: none;
  cursor: pointer;
  .down {
    transform: rotate(180deg);
  }
}

.beetwenUs {
  gap: 20px;
}
.filterBg {
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  width: 300px;
}
.DocInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin-left: 80px;
  margin-top: 25px;
  margin-bottom: 350px;
}
.leaveBak {
  position: absolute;
  bottom: 100px;
  right: -100px;
  .bak {
    opacity: 0.1;
  }
}
.AdvDay {
  margin-top: 50px;
}
