.HistoryMehrigiyo-S {
    position: relative;
    overflow: hidden;

    .HistoryMehrigiyo {
        display: flex;
        // align-items: center;
        margin-top: 300px;

        // &__img{
        //     img{
        //     }
        // }
        &__text {
            padding: 220px 0 0 0;

            &__paragraph1 {
                color: grey;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 100px;
            }

            &__paragraph2 {
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 10px;
            }

            &__paragraph3 {
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                font-style: italic;
            }
        }
    }

    .flexBtns {
        display: flex;
        width: 100%;
        padding: 7px 13px;
        background-color: rgb(255, 255, 255);
        gap: 9px;
        position: absolute;
        bottom: 465px;
        left: 100px;
        border-radius: 15px;
        box-shadow: 0px 15px 60px rgba(22, 22, 22, 0.1);

        &__btn {
            padding: 7px 23px;
            transition: 0.3s;
            background-color: unset;
            border: none;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            border-radius: 10px;
            color: grey;

            &:focus {
                background-color: #DDEFE3;
                color: #53B175;
            }
        }
    }

    .imgLeaf {
        img {
            position: absolute;
            right: -20px;
            top: 150px;
            z-index: -1;
            opacity: 0.1;
        }
    }

}