.gap{
    margin-right: 15px;
    margin-top: -5px;

}
.space-between{
    display: flex;
    align-items: center;
}
.hover:hover{
    background-color: #E5FCED;
    cursor: pointer;
}
.dropdown_wrapper{
    position: absolute;
    background: white;
    width: 206px;
    top: 30px;
    border-radius: 5px;
    z-index: 10;
}
.ddImg{
    padding: 5px;
    display: flex;
    justify-content: center;
}
.ii{
    position: absolute;
    top: 7px;
    left: 24px;
}
.langText{
    padding:13px 45px 8px 77px;
}
.centerText{
    left: 20px;
}
.pdleft{
    padding-left: 24px;
}
.polyAbsolutes{
    position: absolute;
    bottom: 102px;
    size: 50px;
}
.relativ{
    display: flex;
}
.drwr{
    position: relative;
}
.Russian{
    font-family: Roboto;
}
.rusFlag{
    margin-top: 5px;
}