.adviceDoctor {
    display: flex;
    margin-top: 96px;
    // flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    .adviceText {
        // margin: 46px 97px 116px 66px;
        .headText {
            font-size: 12px;
            color: #505050;
            margin-bottom: 20px;
        }
        span {
            color: #69fc8e;
        }
        h3 {
            font-weight: 600;
            font-size: 30px;
            margin-bottom: 16px;
        }
        .infoText {
            color: #B0B7C3;
            margin-bottom: 31px;
        }
    }
    .btnContainer {
        display: flex;
        gap: 30px;
        img {
            cursor: pointer;
        }
    }
    .adviceImg {
        position: relative;
        .ovalBig {
            position: absolute;
            bottom: -5px;
            left: -10px;
        }
        .ovalSmall {
            position: absolute;
            top: 50px;
            right: 30px;
        }
    }
    .doctors {
        // position: absolute;
        z-index: 5;
        // bottom: 200px;
        // right: 100px;
    }
    .background {
        position: absolute;
        right: -110px;
        bottom: -135px;
        opacity: .1;
    }
}