.footer{
    background-color: #282828;
    position: relative;
    height: 397px;
}

.section1{
    color: #D4D4D4;
    padding: 50px 0 0 0;
}
.logo{
    background: no-repeat
}

.section1 ul li{
    padding: 10px 0 ; 
    width: 399px; 
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    list-style: none;
}

.icons{
    display: flex;
    width: 399px;
    padding-top: 20px;
    gap: 20px;
}

.telegram{
    justify-content: center;
    align-content: center;
    display: grid;
    width: 40px;
    background-color: #3d3d3d;
    border-radius: 50%;
    height: 40px;
    transition: 0.7s;
    color: #ccc;
    
}

.telegram:hover{
    background-color: white;

}
.telegram:hover .icon{
    color: rgba(36, 35, 35, 0.74);
} 
.icon:hover{
    transition: 0.5;
}
.sections{
    position: relative;
    display: flex;
    height: 397px;
    justify-content: space-between;
}

.green-place{
    position: absolute;
    top: 280px;
    margin-top: 22px;
    display: flex;
    background-color: #427A56;
    padding: 21px 37px;
    border-radius: 25px 25px 0px 0px;
    gap: 106px;
    width: 553px;
}

.first{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #B3CABB;
    padding-bottom: 5px;
}

.next{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: white;
    text-decoration: none;
}
.legalty{
    color: #F4F5F7;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    padding: 15px 0;
}
.section_a{
    padding: 54px 42px 179px 207px;
    width: 429px;

}
.homeimg{
    position: absolute;
    right: 50px;
    width: 690px;
    height: 127px;
    padding:0 50px ;
    bottom: 0;
}
    
.parag{
    padding:10px 0;
    color: #B0B7C3;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    transition: 0.3s;
}
.parag:hover{
    
    color: white;
}
.buttons{
    width: 162px;
    height: 48px;
    padding: 20px 0;
}
.imgbutton{
    width: 162px;
    border-radius: 5px;
    transition: 0.3s;
    opacity: 0.6;
}
.imgbutton:hover{
    opacity: 1;

}
.section_b{
    padding: 79px 100px;
}
.grid{
    display: grid;
    row-gap: 15px;
}
.footer_h3{
    width: 173px;
    color: #F4F5F7;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.white_panel{
    background-color: white;
    display: flex;
}
.panel{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}
.footer-menu{
    display: flex;
    gap: 28px;
}
.dons{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.menu-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color:  #282938;
    cursor: pointer;
}
.workTime{
    padding-left: 0;
    margin-bottom: 0;
}