.container {
  background-color: #fff;
  box-shadow: 0px 10px 20px 4px rgba(51, 51, 51, 0.1);
  border-radius: 0px 30px 30px 0px;
  margin-top: 20px;
  width: 290px;
  .user {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 30px 20px 20px 30px;
    border-bottom: 1px solid #e2e2e280;
    div {
      display: flex;
      gap: 15px;
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid green;
        background-color: #000;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .userWithoutAvatar {
        color: white;
        font-size: 15px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 5px;
      }
      span {
        .h4 {
          line-height: 20px;
        }
        .p {
          color: #b0b7c3;
          font-size: 12px;
          padding-top: 5px;
        }
      }
    }
    .pen {
      padding: 3px 4px;
      cursor: pointer;
      border-radius: 50%;
      height: 20px;
      transition: 0.5s;
      &:hover {
        box-shadow: 0 1px 3px 0px rgba(76, 76, 76, 0.702);
        background-color: #eef7f1;

      }
    }
  }
  .wrapper {
    padding: 10px 20px;
    .pageTitle {
      display: flex;
      align-items: center;
      padding: 8px 10px;
      gap: 15px;
      margin-bottom: 15px;
      transition: 0.5s;
      &:hover {
        background-color: #eef7f1;
        border-radius: 13px;
        cursor: pointer;
      }
    }
    .h3 {
      font-size: 16px;
      color: #505050;
    }
    .flex {
      display: flex;
    }
  }
  .logout {
    display: flex;
    gap: 20px;
    color: #a3aed0;
    padding: 232px 0 30px 30px;
    .log:hover {
      transition-duration: 500ms;
      cursor: pointer;
      color: #000;
    }
  }
}
