@import "../../../../../global";

.EditUpdate {
  padding: 50px 86px;

  .Account {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;

    .Account_title {
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      color: #181725;
      margin-bottom: 30px;
    }

    .Account_avatar {
      height: 84px;
      width: 84px;
      background-color: #ebebeb;
      border-radius: 50%;
      margin-bottom: 16px;
      position: relative;
      // overflow: hidden;
    }

    .Account_text {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #505050;
    }
  }

  .form {
    .form_inputFirst {
      width: 363px;
      margin-bottom: 24px;

      &:hover p {
        color: $green;
      }

      p {
        transition: 0.5s;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #c3c3c3;
        margin-bottom: 8px;
      }

      input {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 13px;
        &:focus {
          border-color: $green;
        }
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .form_btn {
      margin-top: 50px;
    }

    .form_inputPosition {
      input {
        position: relative;
      }

      span {
        position: absolute;
        right: 90px;
      }
    }
  }
}
