.wrapper{
    width: 347px;
    position: relative;
    margin: 40px 0;
    background-color: white;
    border-radius: 25px;
    /* height: 543px; */
    align-items: baseline;
}
.img_wrapper{
    height: 249px;
    overflow: hidden ;
    border-radius: 25px 25px 0  0;
    z-index: 1;
}
.arrow{
    color: #53B175;
    width: 40px;
    align-items: center;
}
.category{
    padding-bottom: 20px;
    display: flex;
    color: #53B175;
    font-family: 'Poppins'; 
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 21px; */
}
.more{
    position: absolute;
    top: 470px;
    cursor: pointer;
    padding-top: 20px;
    align-items: center;
    display: flex;
    color: #53B175;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 21px; */
    justify-content: center;
    align-items: center;
}
.more p{
    color: #53B175;
    display: flex;
    align-self: center;
    padding-top: 12px;
}

.wrapper .txt{
    padding: 20px 20px 35px 20px;

}
.wrapper h4{
    padding-bottom: 20px ;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    /* line-height: 27px; */
}
.category li{
    color: #C4C4C4;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 21px; */
}
.wrapper h6{
    color:#C4C4C4;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 40px;
    /* line-height: 21px; */
}
.category p{
    padding-right: 5px;
}

.sldImg{
    transition: 0.3s;
    opacity: 1.3;
    position: relative;
}
.sldImg:hover{
    filter: brightness(60%);
    cursor: pointer;
    transform: scale(1.1);
    transform: 0.7s;
}

.img_wrapper .imgPlay{
    display: none;
}

.img_wrapper:hover .imgPlay{
    display: block;
    
}



.imgPlay img{
    position: absolute;
    top: 100px;
    right: 144px;
}


.swiper-wrapper{
    padding-bottom: 120px;
}