.wrapper{
    width: 347px;
    position: relative;
    margin: 20px 0;
    background-color: white;
    border-radius: 25px;
    height: 543px;
    align-items: baseline;
}
.img_wrapper{
    height: 249px;
    overflow: hidden ;
    border-radius: 25px 25px 0  0;
}
.arrow{
    color: #53B175;
    width: 40px;
    align-items: center;
}
.category{
    padding-bottom: 20px;
    display: flex;
    color: #53B175;
    font-family: 'Poppins'; 
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.more{
    position: absolute;
    top: 470px;
    cursor: pointer;
    padding-top: 20px;
    align-items: center;
    display: flex;
    color: #53B175;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    justify-content: center;
    align-items: center;
}
.more p{
    color: #53B175;
    
}
.more:hover{
    color: #78d49a;
    background-color: #d8f5e3;
    border-radius: 25px;
    
}
.wrapper .txt{
    padding: 20px 20px 35px 20px;

}
.wrapper h4{
    padding-bottom: 20px ;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.category li{
    color: #C4C4C4;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.wrapper h6{
    color:#C4C4C4;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.category p{
    padding-right: 5px;
}

.sldImg{
    
    
    transition: 0.3s;
    opacity: 1.3;
}
.sldImg:hover{
 opacity: 0.6;
 transform: scale(1.2);
}