.topDoctors {
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 18px;
    padding: 12px 18px 16px 16px;
    width: 200px;

    &__img {
        display: flex;
        justify-content: space-between;

        .imgFirst {
            width: 100px;
            height: 100px;
            position: relative;

            &__btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 58px;
                height: 22px;
                background-color: #F29C1F;
                border: none;
                border-radius: 10px;
                font-size: 10px;
                font-weight: 600;
                line-height: 18px;
                color: #ffff;
                position: absolute;
                left: 22px;
                bottom: -4px;
            }
        }

        // .imgSecond {
            
        // }
    }

    &__paragraph1 {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-top: 30px;
    }

    &__paragraph2 {
        font-weight: 400;
        font-size: 14px;
        color: #7C7C7C;
        line-height: 18px;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #53B1751A;
        border: none;
        border-radius: 13px;
        color: #53B175;
        width: 166px;
        height: 40px;
        margin-top: 18px;
    }
}