*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

img{
  vertical-align: unset;
}

.GlobalWrapper{
  max-width: 1440px;
  margin: 0 auto;
}
.flex{
  display:flex;
}
.display{
  display: flex;
  
  
}
*::selection {
  color: #fff;
  background-color: #6db224;
}
body{
  background-color: #FAFBFC;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track-y {
  background-color: transparent;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background-color: #bbf7d0;
  border-radius: 50px;
  border: 0 solid transparent;
}
.slick-track{
  display: flex !important;
  align-items: center;
  gap: 64px;
  margin-bottom: 100px;
}