.asked-background {
  position: relative;

  .asked-wrapper {
    display: flex;
    margin-left: -20px;
    gap: 30px;
    justify-content: center;
  }

  .asked-heading {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 13px;
  }

  .extra-p {
    color: #53b175;
    margin-bottom: 46px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .more-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #53b17533;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    width: 150px;
  }

  .icon-right {
    color: #53b175;
  }
  .leaf{
    opacity: 5%;
    position: absolute;
    top: 100px;
    right: -0px;
    z-index: 1;
  }
}
.accordion{
    margin-top: 100px;
}