.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1020px;
  margin-top: 140px;
  .box {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .noOngoingImg {
    width: 202px;
    height: 202px;
  }
  .noOngoingText {
    h4 {
      font-weight: 600;
      font-size: 24px;
      color: #282828;
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
      color: #b0b7c3;
    }
  }
}
